.record {
  flex: 1 1 auto;
  width: 100%;
  padding: 12px;
  overflow-y: auto;
  box-sizing: border-box;

  .section {
    margin-bottom: 16px;
    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 4px 0;
        font-size: 14px;
        color: var(--Grey-800, #344054);
      }
    }
  }
}
